{% extends "books/layout.html" %}
{% block title %} 注册 {% endblock %}
{% block link %}
    <a href="{% url 'books:login' %}"> 返回 </a>
{% endblock %}
{% block body %}
    {% if error %}
        <div class=error>
            <strong>Errror : </strong> {{ error }}
        </div>
    {% endif %}
    <form action="{% url 'books:register' %}" method=post>
        {% csrf_token %}
        <dl>
            <dt>用户名:</dt>
            <dd>{{ user.name }}</dd>
            <dt>密码:</dt>
            <dd>{{ user.pwd }}</dd>
            <dt>密码
                <small>(重复)</small>
                :
            </dt>
            <dd><input type=password name=password2 size=30></dd>
            <dt>学院:</dt>
            <dd>{{ user.college }}</dd>
            <dt>学号:</dt>
            <dd>{{ user.num }}</dd>
            <dt>邮箱:</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        <div class=actions><input type=submit value="注册"></div>
    </form>

{% endblock %}
