<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/lib/JQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        a.herfa {
            color: #FFFFFF;
            text-decoration: none;
        }

        th, td {
            text-align: center;
        }

        /*设置奇数行颜色*/
        table #trstyle:nth-child(odd) {
            background: #CEECEC;
        }

        /*设置偶数行颜色*/
        table #trstyle:nth-child(even) {
            background: #FCF8E3;
        }

        .priceinput {
            width: 60px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <h2>书名:{{ book.btitle }}</h2>
        <button type="button" class="btn btn-info"><a class="herfa" href="{% url 'booktest:addhero' book.id %}">添加</a></button>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <tr>
                <th>角色</th>
                <th>性别</th>
                <th>技能</th>
                <th>操作</th>
            </tr>
            {% for hero in book.heroinfo_set.all %}
                <tr id="trstyle">
                    <td>{{ hero.hname }}</td>
                    <td>{{ hero.hgender }}</td>
                    <td>{{ hero.hcontent }}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning">
                            <a class="herfa" href="{% url 'booktest:updatehero' hero.id %}">修改</a>
                        </button>
                        <button type="button" class="btn-xs btn-danger">
                            <a class="herfa" href="{% url 'booktest:deletehero' hero.id %}">删除</a>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <h3>没有角色信息</h3>
            {% endfor %}
        </table>
        <a href="{% url 'booktest:list' %}">返回上一级</a>
    </div>
</div>

</body>
</html>