<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/lib/JQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container">
    {% if username %}
        <h2>{{username}} <a href="{% url 'booktest:loginout' %}">退出</a></h2>
        {# <a href="/booktest/list">进入列表页</a>#}
        <a href="{% url 'booktest:list' %}">进入列表页</a>
    {% else %}
        <h2><a href="{% url 'booktest:login' %}">登录</a></h2>
    {% endif %}
</div>

</body>
</html>