<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/lib/JQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container">
    {% if username %}
        <h2>{{username}}</h2>
        <a href="{% url 'polls:list' %}">进入列表页</a>
    {% else %}
        <h2>未登录</h2>
    {% endif %}
</div>

</body>
</html>