<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/js/lib/JQuery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        a.herfa {
            color: #FFFFFF;
            text-decoration: none;
        }

        th, td {
            text-align: center;
        }

        /*设置奇数行颜色*/
        table #trstyle:nth-child(odd) {
            background: #CEECEC;
        }

        /*设置偶数行颜色*/
        table #trstyle:nth-child(even) {
            background: #FCF8E3;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <h2>投票列表</h2>
        <table class="table table-bordered table-condensed table-striped table-hover">
            <tr>
                <th>标题</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            {% for q in qlist %}
                <tr id="trstyle">
                    <td><a href="{% url 'polls:detail' q.id %}">{{ q.qname }}</a></td>
                    <td>{{ q.qpub_date }}</td>
                    <td>
                        <button type="button" class="btn-xs btn-danger">
                            <a class="herfa" href="#">删除</a>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <h3>空</h3>
            {% endfor %}
        </table>
        <a href="{% url 'polls:index' %}">返回首页</a>
    </div>
</div>

</body>
</html>