{% extends 'blogs/base.html' %}

{% block left %}
    {% for blog in bloglist %}

        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'blogs:blogdetail' blog.id %}">{{ blog.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ blog.category.name }}</a></span>
                    <span class="post-date">
                    <a href="#">
                        <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">
                            {{ blog.pub_date }}
                        </time>
                    </a>
                </span>
                    <span class="post-author"><a href="#">{{ blog.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ blog.comment_set.all.count }} 评论</a></span>
                    <span class="views-count"><a href="#">{{ blog.view_num }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ blog.content|slice:'200' }}...</p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blogs:blogdetail' blog.id %}" class="more-link">
                        继续阅读 <span class="meta-nav">→</span>
                    </a>
                </div>
            </div>
        </article>

    {% empty %}
        <h2>没有文章</h2>
    {% endfor %}
    <div class="pagination">
        <ul>
            {% if bloglist.has_previous %}
                <a href="?page={{ bloglist.previous_page_number }}">⏪</a>
            {% else %}
                <a href="#">⏪</a>
            {% endif %}

            {% for num in bloglist.paginator.page_range %}
                {% if num == bloglist.number %}
                    <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if bloglist.has_next %}
                <a href="?page={{ bloglist.next_page_number }}">⏩</a>
            {% else %}
                <a href="#">⏩</a>
            {% endif %}
        </ul>

    </div>
{% endblock %}